---
import Window from '../layouts/Window.astro';
import Explorer from '../components/Explorer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bware</title>
	</head>
	<body>
		<Window>
			<h1>Bware</h1>
		</Window>
		<Explorer/>
		<script type="module" src="/src/scripts/toggleExplorer.ts"></script>
	</body>
</html>
